name: Build image and Publish to DockerHub

on:
  workflow_dispatch:

jobs:
  publish_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set image tag
        id: vars
        run: echo "TAG=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build -t yousef2005/devops-simple-pipline:${{ steps.vars.outputs.TAG }} .

      - name: Push Docker image
        run: |
          docker push yousef2005/devops-simple-pipline:${{ steps.vars.outputs.TAG }}
