name: push-pr work flow 
on: 
  push: 
    branches: 
      - master 
      - "release/**"
    paths: 
      - "src/**" 
  pull_request: 
    branches: 
      - main 
      - "release/**"
jobs: 
  test: 
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.2
      - name: Run Tests 
        run: npm test 
          

      
